@use "../universal/distance.scss";
@use "../universal/color.scss";
@use "../universal/fonts.scss";

nav {
  position: sticky;
  top: 10px;
  width: 95%;
  border-top: 2px solid color.$myNavy;
  background: linear-gradient(
    to bottom,
    color.$backgroundColor,
    color.$lightMoth,
    color.$moth
  );
  border-bottom: 4px solid color.$skink;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 10px 0px 10px 0px;
  margin: auto;
  z-index: 1;
  * {
    @include distance.noDistance;
  }

  ul {
    display: flex;
    justify-content: center;
    @media (min-width: 480px) {
      column-gap: 40px;
    }
    list-style: none;

    li {
      min-width: 100px;
      min-height: 40px;

      .navLink {
        @include fonts.normalFont;
        display: inline-block;
        padding-top: 10px;
        width: 80%;
        height: 80%;
        margin: auto;
        border-bottom: 2px solid color.$myNavy;
        text-align: center;
        &:hover {
          color: color.$skink;
          border-color: color.$skink;
          text-shadow: 2px 2px 4px color.$myNavy;
        }
      }
      .active {
        border-bottom: none;
      }
    }
  }
}
