@use "universal/distance.scss";
@use "universal/color.scss";
@use "universal/fonts.scss";
@use "universal/halo.scss";
@forward "./modules/content.scss";
@forward "./modules/navigation";
@forward "./modules/validation.scss";

body {
  background-image: url("../../public/images/sea2.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-color: color.$backgroundColor;
  @include fonts.normalFont;
  min-width: 360px;
}
a {
  text-decoration: none;
  color: black;
}

h1 {
  margin: auto;
  text-align: center;
  @include fonts.head;
  font-size: 1.5em;
}
div:has(> .box) {
  @media only screen and (min-width:480px)
  { height: 150px;}
  column-gap: 10px;
  display: flex;
  justify-content: space-around;
  @include distance.contentDistance;
  @include fonts.specialFont;
  .box {
    flex-basis: 150px;
    flex-shrink: 1;
    background-color: color.$moth;
    border-radius: 25%;
    text-align: center;
    @media only screen and (min-width:480px){padding: 60px 10px 10px 10px;}
    @media only screen and (max-width: 480px){padding: 20px 10px 20px 10px;}
    @include halo.halo;
    border-bottom: 6px solid color.$myNavy;
    border-right: 2px solid color.$myNavy;
  }
}
footer {
  width: 90%;
  background: linear-gradient(to top, color.$skink, color.$lightMoth);
  border-bottom: 2px solid color.$myNavy;
  margin: auto;
  border-radius: 30px;
  @include fonts.specialFontSec;
  padding: 10px 20px 10px 20px;

  .companyName {
    font-weight: bold;
  }
}
.special{
  @include fonts.specialFont
}

div:has(>input){
  margin: 8px 6px 8px 4px;
  padding: 10px 10px 10px 10px;
  label{
    margin: 4px 4px 4px 4px;
  }
  input{
    margin: 4px 4px 4px 4px;
  }
}

div:has(>textarea) {*{
  margin-right: auto;
  margin-left: auto;
}
p{
  text-align: center;
}}
textarea{
  width: 80%;
  height: 200px;
  @include fonts.normalFont
}