$fontColor: rgb(10, 10, 97);

@mixin head{
    font-family: Helvetica, Arial, sans-serif;
    font-size: large;
    color:$fontColor;
}

@mixin normalFont{
    font-family: 'Arial Nova', 'Verdana', sans-serif;
    color:$fontColor;
}

@mixin specialFont{
font-family: 'Angsana Nova', 'Cordia New', 'Constantia';
font-style: italic;
color:$fontColor;
}

@mixin specialFontSec{
    font-family: 'Constantia', 'Cordia New', 'Cordia';
    font-style: italic;
    color:$fontColor;
}